<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>GossYp Girl</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
        <div class="left-box">
            <h1 style="color: #38b6ff;">hello!</h1>
            <p>bienvenue chez gossYp girl, le site SUR les gens d’ynov, POUR les gens d’ynov, PAR les gens d’ynov !</p>

            <h1 style="color: #ffbd59;"><a href="/photos">photos</a></h1>
            <p><a href="/photos">découvrez ICI les dernières tenues des fashionistas de votre campus.</a></p>
            
            <h1 style="color: #cb6ce6;"><a href="/soirees">soirées</a></h1>
            <p><a href="/soirees">le facteur a du perdre votre invitation... cliquez ici pour voir ce que vous avez manqué.</a></p>
              
            <h1 style="color: #c1ff72;"><a href="/depeches">dépêches</a></h1>
            <p><a href="/depeches">soyez au courant des dernières petites infos rapportées par mon élite de commères...</a></p>
          </div>
  </body>
</html>

