<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>GossYp Girl</title>

    <link rel="stylesheet" href="/static/styles.css">

    <script>
      fetch("/static/header.html")
        .then(r => r.text())
        .then(html => document.getElementById("header").innerHTML = html);
    </script>

    <script>
      fetch("/static/left-box.html")
        .then(r => r.text())
        .then(html => document.getElementById("left-box").innerHTML = html);
    </script>
  </head>
  
  <body>
    <div id="header"></div>

    <div class="container">
        <div id="left-box"></div>

        <div class="right-box">
            <h1>Créer une dépêche</h1>
            <form action="/create-post" method="POST" enctype="multipart/form-data">

                <input type="text" name="title" placeholder="Titre" required>
                <br><br>

                <textarea name="content" placeholder="Contenu" required></textarea>
                <br><br>

                <input type="file" name="image">
                <br><br>

                <button type="submit">
                    Publier
                </button>

            </form>
        </div>
    </div>

  </body>
</html>
