<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GossYp Girl</title>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="./static/index.css">
  </head>
  <body>
    <header>
        <a href="send_message.html" class="icon-btn">
            <img src="../assets/message.png" alt="Envoyer un tips à GG">
        </a>
        <strong>gossYp girl</strong>
        <a href="profile.html" class="icon-btn">
            <img src="../assets/profile.png" alt="Mon profil">
        </a>
    </header>
  </body>
</html>