<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>GossYp Girl</title>

    <link rel="stylesheet" href="/static/styles.css">

    <script>
      fetch("/static/header.html")
        .then(r => r.text())
        .then(html => document.getElementById("header").innerHTML = html);
    </script>

    <script>
      fetch("/static/left-box.html")
        .then(r => r.text())
        .then(html => document.getElementById("left-box").innerHTML = html);
    </script>
  </head>
  
  <body>
    <div id="header"></div>

    <div class="container">
        <div id="left-box"></div>


        <div class="right-box">

            <div class="filters">

                <a href="/">Tous</a>
                <a href="/?cat=general">Général</a>
                <a href="/?cat=photos">Photos</a>
                <a href="/?cat=soirees">Soirées</a>
                <a href="/?cat=depeches">Dépêches</a>
            
            </div>

    {{ range . }}

        <div class="post">

            <h2>
                {{ .Title }}
            </h2>

            <p>
                Posté par : {{ .AuthorName }}
            </p>

            <p>
                {{ .Content }}
            </p>

            {{ if .ImagePath }}

                <img
                    src="/{{ .ImagePath }}"
                    width="300">

            {{ end }}

            <p>
                {{ .CreatedAt.Format "02/01/2006 à 15:04" }}
            </p>

            <a href="/post?id={{ .ID }}">
                Voir le post
            </a>

        </div>

        <hr>

    {{ end }}

</div>
    </div>

  </body>
</html>