<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>GossYp Girl</title>

    <link rel="stylesheet" href="/static/styles.css">

    <script>
      fetch("static/header.html")
        .then(r => r.text())
        .then(html => document.getElementById("header").innerHTML = html);
    </script>

    <script>
      fetch("static/left-box.html")
        .then(r => r.text())
        .then(html => document.getElementById("left-box").innerHTML = html);
    </script>
  </head>
  
  <body>
    <div id="header"></div>

    <div class="container">
        <div id="left-box"></div>

        <div class="right-box">
            <h1>Créer un compte</h1>
            <form action="/register" method="POST">
                <input type="text" name="identifiant" placeholder="identifiant">
                <input type="email" name="email" placeholder="email">
                <input type="mdp" name="mdp" placeholder="mot de passe">
                <button type="submit">Créer compte</button>
            </form>

            <h1>Connexion</h1>
            <form action="/login" method="POST">
                <div>
                    <label>Email :</label>
                    <input 
                        type="email"
                        name="email"
                        required
                    >
                </div>
                <div>
                    <label>Mot de passe :</label>
                    <input 
                        type="mdp"
                        name="mdp"
                        required
                    >
                </div>
                <button type="submit">Se connecter</button>
            </form>
        </div>
    </div>

  </body>
</html>