<!DOCTYPE html>
<html>
<head>
    <title>Register / Connexion</title>
</head>
<body>

<h1>Register</h1>

<form action="/register" method="POST">
    <input type="text" name="identifiant" placeholder="identifiant">
    <input type="email" name="email" placeholder="email">
    <input type="mdp" name="mdp" placeholder="mot de passe">
    <button type="submit">Créer compte</button>
</form>

<h1>Connexion</h1>

<form action="/login" method="POST">

    <div>
        <label>Email :</label>
        <input 
            type="email"
            name="email"
            required
        >
    </div>

    <br>

    <div>
        <label>Mot de passe :</label>
        <input 
            type="mdp"
            name="mdp"
            required
        >
    </div>

    <br>

    <button type="submit">
        Se connecter
    </button>

</form>



</body>
</html>