<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>GossYp Girl</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <header>
        <a href="send_message.html" class="tips-btn"></a>
        <strong>gossYp girl</strong>
        <a href="profile.html" class="profile-btn"></a>
    </header>

    <div class="container">
        <div class="left-box">
            <h1 style="color: #38b6ff;">hello!</h1>
            <p>bienvenue chez gossYp girl, le site SUR les gens d’ynov, POUR les gens d’ynov, PAR les gens d’ynov !</p>

            <h1 style="color: #ffbd59;">photos</h1>
            <p>découvrez ICI les dernières tenues des fashionistas de votre campus.</p>

            <h1 style="color: #cb6ce6;">soirées</h1>
            <p>le facteur a du perdre votre invitation... cliquez ici pour voir ce que vous avez manqué.</p>
            
            <h1 style="color: #ff72a3;">dépêches</h1>
            <p>soyez au courant des dernières dépêches rapportées par ma petite élite de commères...</p>

            <h1 style="color: #c1ff72;">archive</h1>
            <p>vous arrivez en cours de route ? pas de panique ! attrapez du pop-corn et ouvrez l'archive...</p>
        </div>

        <div class="right-box">
            <h1>Oups...!</h1>
            <p>Cette partie du site n'a pas encore été publiée, mais n'ayez crainte mes followers, ça arrive vite !</p>
            <p>XOXO, gossYp girl</p>

        </div>
    </div>

  </body>
</html>