<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>GossYp Girl</title>

    <link rel="stylesheet" href="/static/styles.css">

    <script>
      fetch("/head/header.html")
        .then(r => r.text())
        .then(html => document.getElementById("header").innerHTML = html);
    </script>

    <script>
      fetch("/head/left-box.html")
        .then(r => r.text())
        .then(html => document.getElementById("left-box").innerHTML = html);
    </script>
  </head>
  
  <body>
    <div id="header"></div>

    <div class="container">
        <div id="left-box"></div>

        <div class="right-box">
            <h1>Oups...!</h1>
            <p>Cette partie du site n'a pas encore été publiée, mais n'ayez crainte mes followers, ça arrive vite !</p>
            <p>XOXO, gossYp girl</p>
        </div>
    </div>

  </body>
</html>